body {
    width: 80%;
    /* center on page */
    margin: 0 auto 0;
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    margin: 0 auto;
    background: rgb(33, 76, 155);
    z-index: 20;
    height: fit-content;
    width: 100%;
    align-self: center;
}


/*horizontal layout with no wrapping*/

nav ul {
    list-style: none;
    height: fit-content;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    margin: 0;
}


/*each individual cell*/

nav li {
    background: rgb(54, 112, 219);
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 0 1em;
}


/*text of nav elements*/

nav a {
    padding: 10px;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
}


/*expand and change color*/

nav li:hover {
    background: whitesmoke;
    /* color: rgb(24, 24, 24); */
    color: rgb(54, 112, 219);
    transform: scale(1.1);
    transition: transform 0.1s ease-in, background-color 0.5s linear;
}


/*make submenu stuff fit width of container*/

nav ul ul li {
    width: 100%;
}


/*same as #submenu*/

nav ul ul {
    max-height: 0px;
    overflow: hidden;
}

nav ul li:hover ul {
    display: flex;
    flex-wrap: wrap;
    max-height: 150px;
    transition: max-height .25s ease-in;
}

@media (max-width: 550px) {
    nav ul {
        flex-wrap: wrap;
    }
    nav li {
        width: 100%;
    }
    /* Makes the sub nav items smaller to distinguish them from the main nav items */
    nav ul ul li {
        width: 90%;
    }
    h1 {
        position: static;
        font-size: 1.80rem;
    }
    h2 {
        position: static;
        font-size: 1.2rem;
    }
}


/* make header flexbox so nav and beaver pic fit together */

header {
    display: flex;
    flex-wrap: nowrap;
}

#TitlePic {
    width: min-content;
    display: flex;
    margin-right: auto;
}

#TitlePic h1 {
    width: 125px;
    text-align: center;
}

#TitlePic img {
    height: 175px;
}

main {
    width: 90%;
    margin: 0 auto 0;
}


/* title of home page 
center on page */

main h1,
main h2 {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#ProfilePic {
    float: left;
    padding-right: 15px;
}
